<html>
    <head>
        <title>API Documentation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <style>
            table {
                border: 3px solid #000000;
                width: 100%;
                text-align: left;
                border-collapse: collapse;
                font-size: 1em
            }
              table td, table.minimalistBlack th {
                border: 1px solid #000000;
                padding: 5px 4px;
                font-size: 1em
              }
              table tbody td {
                font-size: 13px;
              }
              table thead {
                background: #CFCFCF;
                background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
                background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
                background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
                border-bottom: 3px solid #000000;
              }
              table thead th {
                font-size: 15px;
                font-weight: bold;
                color: #000000;
                text-align: left;
                font-size: 1em
              }
              table tfoot {
                font-size: 14px;
                font-weight: bold;
                color: #000000;
                border-top: 3px solid #000000;
              }
              table tfoot td {
                font-size: 14px;
              }
        </style>
        <b>API Documentation</b>
        <br>
        
        <p><b>api_endpoint/user/games/get/gameName</b></p>
        <p>This returns a list of games with similar names</p>
        <table>
            <tr><th>Parameter</th><th></th></tr>
            <tr><td>gameName</td><td>The name use to search for the game</td></tr>
            <tr><td>userId</td><td>[OPTIONAL] Required for users to view their own games that are set to private (i.e. games that can't appear in normal search).</td></tr>
        </table>
        <table>
            <tr><th>Returns</th><th></th></tr>
            <tr><td>result</td><td>An array of game objects</td></tr>
            <tr><td>code</td><td>Status code of the operation</td></tr>
        </table>
        
        
        <br>
        
        <p><b>api_endpoint/user/games/get/id</b></p>
        <p>Search for a single specific game using object_id</p>
        <table>
            <tr><th>Parameter</th><th></th></tr>
            <tr><td>objectId</td><td>Objectt id of the game</td></tr>
            <tr><td>userId</td><td>[OPTIONAL] Required for users to view their own games that are set to private (i.e. games that can't appear in normal search).</td></tr>
        </table>
        <table>
            <tr><th>Returns</th><th></th></tr>
            <tr><td>result</td><td>A game object with the corresponding object id</td></tr>
            <tr><td>code</td><td>Status code of the operation</td></tr>
        </table>
        
        <br>
        
        <p><b>api_endpoint/user/games/create</b></p>
        <p>Create a game to begin record, returns the game's id, this action will also create a active_match document which is required for user/update</p>
        <table>
            <tr><th>Parameter</th><th></th></tr>
            <tr><td>teamId</td><td>Team id of the user's team</td></tr>
            <tr><td>userId</td><td>The user id of the user who created this game</td></tr>
            <tr><td>public</td><td>Whether this game is available to the public, 0 = private, 1 = public</td></tr>
            <tr><td>gameName</td><td>The name of the game</td></tr>
            <tr><td>location</td><td>The location of the game</td></tr>
            <tr><td>matchDate</td><td>Date of the game</td></tr>
            <tr><td>matchTime</td><td>The time when the game started</td></tr>
            <tr><td>teamColor</td><td>Color of the team</td></tr>
            <tr><td>oppTeamColor</td><td>Color of the opposite team</td></tr>
        </table>
        <table>
            <tr><th>Returns</th><th></th></tr>
            <tr><td>code</td><td>Status code of the operation</td></tr>
        </table>
        
        <br>
        
        <p><b>api_endpoint/user/games/delete</b></p>
        <p>Deletes a game by game's object id</p>
        <table>
            <tr><th>Parameter</th><th></th></tr>
            <tr><td>objectId</td><td>Object Id of the game</td></tr>
        </table>
        
        <table>
            <tr><th>Returns</th><th></th></tr>
            <tr><td>code</td><td>Status code of the operation</td></tr>
        </table>
        
        
        
        
        <br>
        
        <p><b>api_endpoint/user/game_events/create</b></p>
        <p>Sends the text command to be parsed and convert into a game event, which is then updated to a game, returns a new possession id if the current possession ends</p>
        <table>
            <tr><th>Parameter</th><th></th></tr>
            <tr><td>objectId</td><td>Object id of the game, received when called user/games/create</td></tr>
            <tr><td>pid</td><td>[OPTIONAL] The possession id, starts from 0 if there is none</td></tr>
            <tr><td>textInput</td><td>The text input converted from the user's voice input</td></tr>
            <tr><td>time</td><td>the time stamp in seconds when the voice input is send out, starts from 0 when the game begins</td></tr>
        </table>
        <table>
            <tr><th>Returns</th><th></th></tr>
            <tr><td>event</td><td>The generated event</td></tr>
            <tr><td>code</td><td>Status code of the operation</td></tr>
        </table>
        <br>
        
                
        
        <p><b>api_endpoint/user/game_events/update</b></p>
        <p>Updates a specific event by using the game id, possession id and game event id as reference</p>
        <table>
            <tr><th>Parameter</th><th></th></tr>
            <tr><td>objectId</td><td>Object id of the game</td></tr>
            <tr><td>pid</td><td>The possession id</td></tr>
            <tr><td>eid</td><td>The event id</td></tr>
            
        </table>
        <table>
            <tr><th>Returns</th><th></th></tr>
            <tr><td>code</td><td>Status code of the operation</td></tr>
        </table>
        <br>
        
        
        <p><b>api_endpoint/user/possession/delete</b></p>
        <p>Delete a possession using the possession id as a reference</p>
        <table>
            <tr><th>Parameter</th><th></th></tr>
            <tr><td>objectId</td><td>Object id of the game</td></tr>
            <tr><td>pid</td><td>The possession id</td></tr>
            
        </table>
        <table>
            <tr><th>Returns</th><th></th></tr>
            <tr><td>code</td><td>Status code of the operation</td></tr>
        </table>
        <br>
        
        
                
        <p><b>api_endpoint/user/game_events/delete</b></p>
        <p>Delete a event using the event id as a reference</p>
        <table>
            <tr><th>Parameter</th><th></th></tr>
            <tr><td>objectId</td><td>Object id of the game</td></tr>
            <tr><td>pid</td><td>The possession id</td></tr>
            <tr><td>eid</td><td>The event id</td></tr>
            
        </table>
        <table>
            <tr><th>Returns</th><th></th></tr>
            <tr><td>code</td><td>Status code of the operation</td></tr>
        </table>
        <br>
        
        <p><b>api_endpoint/user/register</b></p>
        <p>Register a user</p>
        <table>
            <tr><th>Parameter</th><th></th></tr>
            <tr><td>username</td><td>The username of the user</td></tr>
            <tr><td>password</td><td>Password of the user.</td></tr>
            <tr><td>email</td><td>Email of the user.</td></tr>
        </table>
        <table>
            <tr><th>Returns</th><th></th></tr>
            <tr><td>userID</td><td>User id to initiate a login session</td></tr>
            <tr><td>code</td><td>Status code of the operation</td></tr>
        </table>
        
        
        <br>
        
        <p><b>api_endpoint/user/register/checkNameDuplicates</b></p>
        <p>Check whether a username is already registered, usernames are case sensitives</p>
        <table>
            <tr><th>Parameter</th><th></th></tr>
            <tr><td>username</td><td>The username of the user</td></tr>
        </table>
        <table>
            <tr><th>Returns</th><th></th></tr>
            <tr><td>result</td><td>1 = this username has been registered, you cannot use it to register, 0 = this username is available</td></tr>
            <tr><td>code</td><td>Status code of the operation</td></tr>
        </table>
        
        
        <br>
        
        
        <p><b>api_endpoint/user/register/checkEmailDuplicates</b></p>
        <p>Check whether an email is already registered, email  are not case sensitives</p>
        <table>
            <tr><th>Parameter</th><th></th></tr>
            <tr><td>email</td><td>The email of the user</td></tr>
        </table>
        <table>
            <tr><th>Returns</th><th></th></tr>
            <tr><td>result</td><td>1 = this email has been registered, you cannot use it to register, 0 = this email is available</td></tr>
            <tr><td>code</td><td>Status code of the operation</td></tr>
        </table>
        
        
        <br>
        
        <p><b>api_endpoint/user/login</b></p>
        <p>Initiates user session with username and password</p>
        <table>
            <tr><th>Parameter</th><th></th></tr>
            <tr><td>email</td><td>The username of the user</td></tr>
            <tr><td>email</td><td>The email of the user</td></tr>
        </table>
        <table>
            <tr><th>Returns</th><th></th></tr>
            <tr><td>UserID</td><td>User id to initiate session, returns 0 if no user with matching password and username found</td></tr>
            <tr><td>code</td><td>Status code of the operation</td></tr>
        </table>
        
        
        <br>
        
        
    </body>
</html>
